<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フラグメントで皆の役に立ちたい!</title>
</head>
<body>
    このなかでから生成したプルダウンをimportしたい
    <div th:insert="~{fragment::pullDown(pullDown)}"></div>
    <div id="hogehoge" th:insert="~{fragment::template1()}"></div>
    <div id="fugafuga" th:insert="~{fragment::template2(せやな)}"></div>
    <div id="置き換えられるのでこのidは飾り" th:replace="~{fragment::template2(IDは飾りですよ)}"></div>
</body>
</html>